// ------------------------------------------------------ //
//                        Variables                       //
// ------------------------------------------------------ //
// ----------------------- Colors ----------------------- //
$color-1: hsl(31, 77%, 52%);
$color-2: hsl(184, 100%, 22%);
$color-3: hsl(179, 100%, 13%);
$color-4: hsla(0, 0%, 100%, 0.75);
$color-5: hsl(0, 0%, 95%);
// -------------------- Font Families ------------------- //
$font-family-1: "Lexend Deca";
$font-family-2: "Big Shoulders Display";
// --------------------- Font Sizes --------------------- //
$main-font-size: 15px;
$font-size-1: 2rem;
$font-size-2: 1.2rem;
$font-size-3: 1rem;
// -------------------- Font Weights -------------------- //
$font-weight-1: 700;
$font-weight-2: 400;

// -------------------- Uncatogrized -------------------- //
$main-border-radius: 10px;
